[Desktop Entry]
Categories=Development;IDE
Exec=/opt/eclipse/eclipse
Icon=/opt/eclipse/icon.xpm
Type=Application
Terminal=false
Name=Eclipse
Name[en]=eclipse.dekstop
Comment=Integrated Development Environment
NoDisplay=false
